# Env
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

#Log
LOG_LEVEL = Complete with the log level

#Prefijo API
PREFIX_VERSION = PREFIX VERSION API
URL_API = Url API 
FILE_PATH = Complete path to save file, please include name of file Ex: ./src/dir/to/file/file.csv
PATH_DIR = Complete dir to save file, does not contain name of file Ex: ./src/dir/to/file

#Block
Genesis = Genesis from blockchain